.cart-page-container {
    min-height: calc(100vh - 200px);
    padding: 80px 20px 20px;
}

.cart-page-container h1 {
    max-width: 250px;
    font-size: 3rem;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    word-wrap: break-word;
}

.cart-page-cart-length {
    color: white;
    text-shadow: 0 0 2px blue;
}

.cart-items-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-wrapper {
    width: 100%;
}

.cart-wrapper li {
    min-height: 100px;
    width: 100%;
    list-style-type: none;
}