.checkout-page-container {
  padding: 70px 20px 20px;
  min-height: calc(100vh - 200px);
}

.sections {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left-section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-section h1 {
  padding: 50px 0;
}

.right-section {
  margin: auto;
}

.shipping-wrapper {
  height: 100%;
  width: 70%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shipping-wrapper h2 {
  margin-bottom: 20px;
}

.shipping-wrapper .form-group {
  display: flex;
  justify-content: space-between;
}

.shipping-wrapper .form-group:nth-child(2) input {
  width: 90%;
}

.shipping-wrapper .form-group:nth-child(2) input:last-child {
  margin-left: 5px;
}

.shipping-wrapper .form-group:nth-child(4) input {
  width: 33%;
}

.shipping-wrapper input {
  height: 40px;
  padding: 5px;
  background-color: rgb(233, 233, 233);
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.shipping-method-wrapper {
  height: 100%;
  width: 70%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shipping-method-wrapper h2 {
  margin-bottom: 20px;
}

.shipping-method-wrapper div {
  display: flex;
  margin-bottom: 20px;
}

.shipping-method-wrapper div .ups {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin: auto;
  color: rgb(61, 52, 1);
  background-color: transparent;
  border-radius: 50%;
}

.shipping-method-wrapper div input {
  margin-right: 10px;
  cursor: pointer;
}

.shipping-method-wrapper div label {
  height: 100%;
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shipping-method-wrapper div label div {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.shipping-method-wrapper div label div p {
  margin-top: 5px;
}

.shipping-method-wrapper .shipping-method-btns {
  background-color: transparent;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.shipping-method-wrapper .shipping-method-btns button {
  width: 150px;
  padding: 10px;
  color: white;
  background-color: orange;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.information-wrapper {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.information-wrapper div {
  margin-bottom: 10px;
}

.information-wrapper .contact-info, .information-wrapper .shipping-information, .information-wrapper .shipping-method-info {
  position: relative;
}

.information-wrapper .contact-info p:last-child, .information-wrapper .shipping-information p:last-child, .information-wrapper .shipping-method-info p:last-child {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.checkout-btns {
  display: flex;
  justify-content: space-around;
}

.checkout-btns button {
  width: 150px;
  padding: 10px;
  color: white;
  background-color: orange;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.payment-method {
  height: 100%;
  width: 70%;
  padding: 10px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.payment-method h2 {
  margin-bottom: 20px;
}

.payment-method div {
  display: flex;
  justify-content: space-between;
}

.payment-method input {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(237, 237, 237);
  border: none;
  border-radius: 5px;
}

.billing-address {
  height: 100%;
  width: 70%;
  min-width: 235px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.billing-address h2 {
  margin-bottom: 20px;
}

.billing-address div {
  width: 100%;
}

.billing-address div input {
  margin-right: 10px;
}

.billing-address .first-option {
  margin-bottom: 50px;
}

.billing-address div label {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
}

.billing-address .second-option div {
  padding-top: 30px;
}

.billing-address .second-option div input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 5px;
}

.billing-address .billing-btns {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.billing-address .billing-btns button {
  width: 150px;
  padding: 10px;
  color: white;
  background-color: orange;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-cart {
  width: 430px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.checkout-cart h2 {
  margin-bottom: 20px;
}

.checkout-cart ul li {
  margin-bottom: 20px;
  display: flex;
}

.checkout-cart ul li img {
  height: 100px;
  margin-right: 10px;
}

.checkout-cart ul li div p:last-child {
  padding-top: 10px;
  font-weight: bolder;
  font-size: 1.3rem;
}

.cart-details span {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.cart-details span p:last-child {
  font-weight: bolder;
}