.home-container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 60px;
}

.categories-wrapper {
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.categories-wrapper span {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.hero-img {
    position: relative;
    height: 500px;
    width: 90%;
    background: rgb(154, 206, 233) url('../images/heroImg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    border-radius: 60px;
    animation-name: slideUp;
    animation-duration: 1s;
}

.hero-img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.249);
}


.featured-wrapper {
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    animation: slideUp 2s;
}

.featured-wrapper div {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-color);
    border-radius: 60px;
}

.sample-products-wrapper {
    height: 100%;
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-product-wrapper {
    height: 500px;
    background-color: aliceblue;
}

.product-item {
    opacity: 0;
}

/* Animations */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Media Queries */
@media (hover: hover) {
    .categories-wrapper span:hover {
        background-color: rgb(194, 194, 194);
    }
}

@media (max-width: 500px) {
    .categories-wrapper {
        flex-wrap: wrap;
    }

    .featured-wrapper {
        height: 100%;
        flex-wrap: wrap;
    }

    .featured-wrapper div {
        height: 100px;
        margin-bottom: 20px;
    }
}