.nav-container {
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    z-index: 2;
}

.ham-icon {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: var(--gray-font);
    cursor: pointer;
    z-index: 40;
}

.menu-wrapper {
    position: absolute;
    height: 100vh;
    width: 0px;
    left: 0;
    top: 0;
    opacity: 0;
    margin-top: 60px;
    border: none;
    background-color: rgba(47, 47, 47, 0.386);
    backdrop-filter: blur(10px);
    color: white;
    letter-spacing: 1px;
    font-size: 1.5rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    visibility: hidden;
}

.menu-active {
    animation: slideOut 0.4s ease-in-out forwards;
    visibility: visible;
}

.menu-inactive {
    animation: slideIn 0.4s ease-in-out backwards;
}

.menu-links .side-menu-login-btn {
    visibility: hidden;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-wrapper .menu-links a {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transition: all 0.4s ease-in-out;
}

.menu-wrapper .menu-links li {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.4s ease-in-out;
}

.option-wrapper {
    position: relative;
    width: 290px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.acct-nav-btns {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.acct-nav-btns div {
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.search-box {
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active {
    position: absolute;
    width: 210px;
    left: 0;
    justify-content: space-evenly;
}

.search-input {
    margin-left: 5px;
    border: none;
    height: 100%;
    padding-left: 5px;
    width: 155px;
    background-color: var(--primary-color);
}

.active input:focus-visible {
    border: none;
    color: red;
}

.search-exit-icon {
    padding: 5px;
}

.cart-on-nav {
    position: relative;
    background-color: var(--primary-color);
    height: 40px;
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.cart-modal-wrapper {
    position: absolute;
    bottom: -260px;
    left: -120px;
    height: 250px;
    width: 280px;
    background-color: rgb(241, 241, 241);
    border-bottom: .5px solid black;
    border-left: .5px solid black;
    border-right: .5px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cart-modal-total {
    width: 80%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-modal-total span {
    font-weight: bold;
}

.cart-modal-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.cart-modal-btns button {
    width: 120px;
    padding: 5px;
    font-size: .7rem;
    border: .5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.cart-modal-checkout {
    background-color: rgb(241, 157, 0);
    color: white;
}

.cart-empty-checkout {
    background-color: rgb(237, 183, 82);
    color: white;
}

/* Animations */
@keyframes slideIn {
    from {
        opacity: 1;
        visibility: visible;
        width: 200px;
    }
    to {
        opacity: 0;
        visibility: hidden;
        width: 0px;
    }
}

@keyframes slideOut {
    from {
        opacity: 0;
        width: 0px;
    }
    to {
        opacity: 1;
        width: 200px;
    }
}

/* Media queries */
@media (hover: hover) {
    .acct-nav-btns div:hover {
        cursor: pointer;
        background-color: var(--primary-color);
    }

    .menu-wrapper .menu-links li:hover {
        background-color: white;
    }

    .menu-wrapper .menu-links li:hover > a {
        color: black;
    }
}

@media (max-width: 500px) {
    .nav-container {
        padding: 0 5px;
        max-width: 100vw;
    }

    .menu-links .side-menu-login-btn {
        visibility: visible;
    }

    .option-wrapper {
        width: 70px;
    }

    .acct-nav-btns {
        display: none;
        visibility: hidden;
    }

    .cart-modal-wrapper {
        left: -250px;
    }

    .search-box {
        display: none;
        visibility: hidden;
    }
}