.nav-container {
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    z-index: 2;
}

.option-wrapper {
    position: relative;
    width: 290px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.acct-nav-btns {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.acct-nav-btns div {
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.search-box {
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active {
    position: absolute;
    width: 210px;
    left: 0;
    justify-content: space-evenly;
}

.search-input {
    margin-left: 5px;
    border: none;
    height: 100%;
    padding-left: 5px;
    width: 155px;
    background-color: var(--primary-color);
}

.active input:focus-visible {
    border: none;
    color: red;
}

.search-exit-icon {
    padding: 5px;
}

.cart-on-nav {
    position: relative;
    background-color: var(--primary-color);
    height: 40px;
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.cart-modal-wrapper {
    position: absolute;
    bottom: -260px;
    left: -120px;
    height: 250px;
    width: 280px;
    background-color: rgb(241, 241, 241);
    border-bottom: .5px solid black;
    border-left: .5px solid black;
    border-right: .5px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cart-modal-total {
    width: 80%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-modal-total span {
    font-weight: bold;
}

.cart-modal-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.cart-modal-btns button {
    width: 120px;
    padding: 5px;
    font-size: .7rem;
    border: .5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.cart-modal-checkout {
    background-color: rgb(241, 157, 0);
    color: white;
}

@media (hover: hover) {
    .acct-nav-btns div:hover {
        cursor: pointer;
        background-color: var(--primary-color);
    }
}