.product-card-wrapper {
    position: relative;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.product-card {
    height: 300px;
    width: 243px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 20px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.plus-icon, .minus-icon {
    position: absolute;
    top: 40px;
    right: 60px;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* .plus-icon:hover > .add-tool-tip {
    font-size: 2rem;
    visibility: visible;
}

.add-tool-tip {
    background-color: red;
    visibility: hidden;
} */

.minus-icon {
    background-color: red;
    border: 1px solid red;
}

.product-img {
    object-fit: contain;
    max-width: 90%;
}

.moveable-img {
    position: absolute;
    z-index: 500;
}

.product-details {
    margin-left: 25px;
}

.product-name {
    margin-bottom: 5px;
    color: var(--gray-font);
    word-wrap: break-word;
}

.product-price {
    font-weight: 700;
    font-size: 1.5rem;
}

.product-animation {
    animation: productAnimation 1s forwards;
    opacity: 0;
}

@keyframes productAnimation {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (hover: hover) {
    .plus-icon:hover {
        background-color: white;
        color: green;
    }

    .minus-icon:hover {
        background-color: white;
        color: red;
    }
}