.register-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.register-modal-wrapper {
    height: 50%;
    width: 60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.register-img {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.register-form {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.log-in-link {
    color: rgb(19, 102, 135);
    font-weight: bold;
    cursor: pointer;
}