.register-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.register-modal-wrapper {
    height: 50%;
    width: 60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.register-img {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.register-form {
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.register-modal-header {
    padding-bottom: 10px;
}

.register-modal-header h1 {
    text-align: center;
    padding-bottom: 5px;
}

.log-in-link {
    color: rgb(19, 102, 135);
    font-weight: bold;
    cursor: pointer;
}

.register-form .form-group {
    width: 90%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.register-form .form-group label {
    padding-bottom: 5px;
}

.register-form .form-group input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}

.register-form .form-group input:focus-visible {
    border: none;
}

.register-form .register-submit-btn {
    width: 150px;
    padding: 10px;
    margin: auto;
    color: white;
    background-color: rgb(19, 102, 135);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}