.register-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(5px);
}

.register-modal-wrapper {
    height: 50%;
    width: 60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.register-img {
    width: 50%;
    border-right: 1px solid black;
}

.register-form {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.log-in-link {
    color: rgb(19, 102, 135);
    font-weight: bold;
    cursor: pointer;
}